/*@font-face {
  font-family: Modak-Regular;
  src: url("../fonts/Modak-Regular.ttf");
}
@font-face {
  font-family: RammettoOne-Regular;
  src: url("../fonts/RammettoOne-Regular.ttf");
}
@font-face {
  font-family: NotoSansMalayalam-SemiBold;
  src: url("../fonts/NotoSansMalayalam-SemiBold.ttf");
}*/
@font-face {
  font-family: MochiyPopPOne-Regular;
  src: url("../fonts/MochiyPopPOne-Regular.ttf");
}
@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
/*@font-face {
  font-family: DarumadropOne-Regular;
  src: url("../fonts/DarumadropOne-Regular.ttf");
}*/
@font-face {
  font-family: NotoKufiArabic-SemiBold;
  src: url("../fonts/NotoKufiArabic-SemiBold.ttf");
}
@font-face {
  font-family: Khebrat-Musamim-Bold;
  src: url("../fonts/Khebrat-Musamim-Bold.ttf");
}
@font-face {
  font-family: DG-3asomy-Regular;
  src: url("../fonts/DG-3asomy-Regular.ttf");
}